* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #1f2833;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background: #0b0c10;
  z-index: 1;
}
header .scroll-indicator {
  position: fixed;
  margin-top: 92px;
  width: 100%;
}
header .scroll-indicator .progress-container {
  width: 100%;
  height: 8px;
  background: #c5c6c7;
}
header .scroll-indicator .progress-container .progress-bar {
  height: 8px;
  background: #66fcf1;
  width: 0%;
}
header #logo {
  display: flex;
  justify-content: left;
  width: 100%;
  padding: 0;
  font-size: 25px;
  margin: 0;
  text-transform: uppercase;
  color: #66fcf1;
  margin-top: 35px;
  margin-bottom: 35px;
}
header #logo span {
  margin-left: 20px;
}
header nav {
  width: 100%;
  margin-right: 20px;
}
header nav mark {
  background: #caaf73;
}
header nav .icon-menu {
  display: none;
}
@media (max-width: 757px) {
  header nav {
    position: absolute;
    right: 0;
    width: 50px;
    height: 100px;
    margin: 0;
    top: 0;
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 0 10px;
  }
  header nav .icon-menu {
    justify-content: center;
    display: flex;
    align-items: center;
    color: #66fcf1;
    cursor: pointer;
  }
}
header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  font-size: 25px;
  margin: 0;
  text-transform: uppercase;
  color: #66fcf1;
  font-weight: 600;
  white-space: nowrap;
}
header nav ul p {
  display: none;
}
header nav ul a:link {
  text-decoration: none;
  color: #66fcf1;
}
@media (max-width: 757px) {
  header nav ul {
    position: fixed;
    width: 50vw;
    right: 0;
    top: 100px;
    height: calc(100vh - 100px);
    background: #0b0c10;
    color: #66fcf1;
    flex-flow: column;
    transform: translateX(50vw);
    align-items: flex-start;
    justify-content: flex-start;
    transition: all 0.5s;
    font-weight: 700;
  }
  header nav ul li {
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
  }
  header nav ul li:hover {
    opacity: 0.8;
    background: #c5c6c7;
  }
  header nav ul p {
    display: inline;
    margin-right: 8px;
  }
  header nav ul a:link {
    text-decoration: none;
    color: #66fcf1;
  }
}
header nav ul li {
  padding: 10px;
}
header nav ul li:hover {
  opacity: 0.7;
  cursor: pointer;
}
@media (min-width: 757px) {
  header nav ul {
    font-size: 20px;
  }
}
@media (min-width: 979px) {
  header nav ul {
    font-size: 25px;
  }
}
@media (max-width: 757px) {
  header nav ul.open {
    transform: translateX(0) !important;
    min-width: fit-content;
    max-width: fit-content;
  }
}
.scroll-indicator {
  position: relative;
  margin-top: 200px;
  width: 100%;
  background-color: #f1f1f1;
}
.scroll-indicator .progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}
.scroll-indicator .progress-container .progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}
#container {
  color: #fff;
  margin-top: 100px;
  margin-left: 0;
  margin-right: 0;
  background: #1f2833;
}
@media (min-width: 757px), (max-width: 757px) {
  #container {
    margin-left: 4px;
    margin-right: 4px;
  }
}
#container #section1 {
  height: calc(100vh - 100px);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  color: #45a29e;
}
#container #section1 h1 {
  margin: 0;
  font-size: 120px;
  text-align: center;
  color: #66fcf1;
}
#container #section1 h2 {
  font-size: 60px;
  padding: 5px;
  text-align: center;
  color: #66fcf1;
}
#container #section1 .block {
  display: flex;
  width: 200px;
  align-items: center;
  border: none;
  background-color: #0b0c10;
  padding: 14px 28px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
  text-align: center;
}
#container #section1 .block:hover {
  opacity: 0.5;
  color: #fff;
}
#container #section1 .block :link {
  text-decoration: none;
  color: #66fcf1;
}
@media (max-width: 757px), (min-width: 757px) {
  #container #section1 h1 {
    margin: 0;
    font-size: 50px;
    text-align: center;
    color: #66fcf1;
  }
  #container #section1 h2 {
    font-size: 25px;
    padding: 5px;
    text-align: center;
    color: #66fcf1;
  }
}
#section2 .section_header {
  height: calc(100vh - 100px);
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: #45a29e;
  font-weight: 700;
}
#section2 .section_header span {
  color: #66fcf1;
}
@media (max-width: 757px), (min-width: 757px) {
  #section2 .section_header .big {
    font-size: 40px;
  }
  #section2 .section_header .small {
    font-size: 20px;
  }
}
#section2 .myskills {
  height: calc(100vh - 100px);
  font-size: 20px;
  display: grid;
  justify-content: center;
  grid-column-gap: 15vh;
  color: #45a29e;
}
#section2 .myskills .section_list li,
#section2 .myskills .section_list1 li,
#section2 .myskills .section_list2 li,
#section2 .myskills .section_list3 li {
  list-style: none;
  letter-spacing: 2px;
  font-size: 25px;
}
#section2 .myskills .section_list .h3,
#section2 .myskills .section_list1 .h3,
#section2 .myskills .section_list2 .h3,
#section2 .myskills .section_list3 .h3 {
  font-size: 50px;
  font-weight: 700;
  color: #66fcf1;
}
@media (max-width: 757px), (min-width: 757px) {
  #section2 .myskills .section_list .h3,
  #section2 .myskills .section_list1 .h3,
  #section2 .myskills .section_list2 .h3,
  #section2 .myskills .section_list3 .h3 {
    font-size: 30px;
  }
  #section2 .myskills .section_list li,
  #section2 .myskills .section_list1 li,
  #section2 .myskills .section_list2 li,
  #section2 .myskills .section_list3 li {
    font-size: 15px;
  }
}
#section2 .myskills .section_list {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
#section2 .myskills .section_list1 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
#section2 .myskills .section_list2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
#section2 .myskills .section_list3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
@media (max-width: 757px) {
  #section2 .myskills {
    display: flex;
    flex-flow: column;
    font-size: 15px;
    margin: 10px;
  }
}
@media (min-width: 757px) {
  #section2 .myskills {
    display: flex;
    flex-flow: column;
    font-size: 15px;
    margin: 10px;
    text-align: center;
    justify-content: center;
  }
}
@media (min-width: 979px) {
  #section2 .myskills {
    height: calc(100vh - 100px);
    font-size: 20px;
    display: grid;
    justify-content: center;
    grid-column-gap: 15vh;
    color: #45a29e;
  }
  #section2 .myskills .h3 {
    font-size: 50px;
    font-weight: 700;
    color: #45a29e;
  }
  #section2 .myskills .section_list {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  #section2 .myskills .section_list1 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  #section2 .myskills .section_list2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #section2 .myskills .section_list3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
#section2 .big {
  font-size: 50px;
  color: #45a29e;
  display: block;
  text-align: center;
}
#section2 .small {
  font-size: 25px;
  display: block;
  text-align: center;
}
#section3 .icon-git-squared {
  display: inline-block;
  position: absolute;
  margin-right: 0;
  margin-bottom: -3px;
}
#section3 .icon-git-squared:hover {
  color: #45a29e;
  cursor: pointer;
}
#section3 .services {
  color: #45a29e;
  font-weight: 700;
  box-shadow: 3px 3px #66fcf1;
}
#section3 .services > div {
  padding: 10px;
}
#section3 .services .projects-icon {
  color: #66fcf1;
}
#section3 .section_header {
  height: calc(100vh - 100px);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#section3 .section_header .be4title {
  display: inline-block;
  position: relative;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.65em;
  margin-right: -0.65em;
  font-size: 8px;
  color: #45a29e;
}
#section3 .section_header .be4title .span {
  position: relative;
}
#section3 .section_header .title {
  display: inline-block;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
  letter-spacing: 0;
  line-height: 1.4;
  font-weight: 700;
  font-size: 32px;
  margin-top: 0;
  padding: 0;
  color: #66fcf1;
}
#section3 .section_header .projects-titles {
  font-size: 40px;
  color: #66fcf1;
  font-weight: 700;
}
@media (max-width: 757px), (min-width: 757px) {
  #section3 .section_header .projects-titles {
    font-size: 20px;
  }
}
@media (max-width: 757px) {
  #section3 .section_header > span {
    font-size: 25px;
  }
}
#section4 {
  height: calc(100vh - 100px);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#section4 .section_header {
  text-transform: capitalize;
  letter-spacing: 0;
  line-height: 1.4;
  font-weight: 300;
  font-size: 32px;
  margin-top: 0;
  color: #66fcf1;
}
#section4 .be4title {
  text-align: center;
  position: relative;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.65em;
  margin-right: -0.65em;
  font-size: 10px;
  color: #45a29e;
}
#section4 .icon-git-squared:hover {
  color: #45a29e;
  cursor: pointer;
}
#section5 {
  height: calc(100vh - 100px);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: #66fcf1;
  margin: 0;
  font-size: 25px;
  border-color: #45a29e;
  width: 100%;
}
#section5 input[type="text"],
#section5 select,
#section5 textarea {
  width: 100%;
  padding: 12px;
  color: #0b0c10;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  cursor: pointer;
}
#section5 ::placeholder {
  color: #0b0c10;
}
#section5 input[type="submit"] {
  background-color: #0b0c10;
  color: #66fcf1;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
}
#section5 input[type="submit"]:hover {
  opacity: 0.6;
}
footer > div {
  font-size: 20px;
  padding: 5px;
  text-align: center;
  padding: 50px;
}
footer .section_footer {
  background: #0b0c10;
  color: #66fcf1;
}
footer .copyrights {
  background: #1f2833;
  color: #45a29e;
}
@media (max-width: 757px) {
  #dark_layer {
    background: #000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0.6;
    top: 0;
    margin: 0 -10px;
    display: none;
  }
  .open_menu #dark_layer {
    display: block !important;
  }
}
