@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@tablet: ~"(min-width: 768px)";
@laptop: ~"(min-width: 992px)";
@desktop: ~"(min-width: 1200px)";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
}

//--colors--
@font-color-2: #3a3845;

//--buttons--
.btn-animated {
  transition: 0.3s;

  &:hover {
    animation: heartbeat 1s infinite;
    transition: 0.3s;
  }
  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }

    60% {
      transform: scale(0.95);
    }

    100% {
      transform: scale(1);
    }
  }
}
//---h1--h2
@desktop__h1: 70px;
@desktop__h2: 35px;

@laptop__h1: 60px;
@laptop__h2: 30px;

@tablet__h1: 50px;
@tablet__h2: 25px;

@media @desktop {
  h1 {
    font-size: @desktop__h1;
    margin: 40px 0px 40px 0px;
    font-weight: 600;
  }
  h2 {
    font-size: @desktop__h2;
    font-weight: 400;
  }
}
@media @laptop {
  h1 {
    font-size: @laptop__h1;
    margin: 40px 0px 40px 0px;
    font-weight: 600;
  }
  h2 {
    font-size: @laptop__h2;
    font-weight: 400;
  }
}
@media @tablet {
  h1 {
    font-size: @tablet__h1;
    margin: 40px 0px 40px 0px;
    font-weight: 600;
  }
  h2 {
    font-size: @tablet__h2;
    font-weight: 400;
  }
}
//--content

//--header--

header {
  display: flex;
  right: 0;
  list-style: none;
  justify-content: flex-end;
  margin-right: 5px;
  position: fixed;
  grid-area: header;
  @media @desktop {
    font-size: @desktop__h2;
  }
  @media @laptop {
    font-size: @laptop__h2;
  }
  @media @tablet {
    font-size: @tablet__h2;
  }

  div {
    margin: 10px;
  }

  a {
    text-decoration: none;
    color: #fff;
    transition: all 1s;
    &.--active {
      color: @font-color-2;
    }
  }
}

#socials {
  display: grid;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #3a3845, #313552);

  @media @desktop {
    display: grid;
    grid-template-columns: 2fr 0fr 0fr 2fr;
  }
  @media @laptop {
    display: grid;
    grid-template-columns: 2fr 0fr 0fr 2fr;
  }
  @media @tablet {
    display: grid;
    grid-template-columns: 2fr 0fr 0fr 2fr;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 2/3;
    grid-column: 1;
    //--header__text__button--
    &__button {
      color: #fff;
      text-decoration: none;
    }
  }
  //--header__text--

  //--header__nav--

  //--header__socials--
  &__icons {
    display: flex;
    grid-column: 4;
    grid-row: 2/3;
    justify-content: flex-end;
    margin-right: 10px;
  }
}
#content {
  grid-area: main;
}
//--aboutme--
#aboutme {
  display: flex;
  padding: 80px;
  flex-direction: column;
  background-color: #b8405e;
  background-image: linear-gradient(to bottom right, #b8405e, #eee6ce);
  color: @font-color-2;
  align-items: center;
  height: 100vh;

  p {
    font-weight: 400;
    @media @desktop {
      font-size: @desktop__h2;
    }
    @media @laptop {
      font-size: @laptop__h2;
    }
    @media @tablet {
      font-size: @tablet__h2;
    }
  }
}
//--projects--
#projects {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(to bottom right, #eee6ce, #fff);
  color: @font-color-2;
  height: 100vh;
  @media @desktop {
    padding: 80px;
  }
  @media @laptop {
    padding: 60px;
  }
  @media @tablet {
    padding: 20px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    @media @desktop {
      grid-template-columns: repeat(4, 1fr) !important;
      grid-auto-rows: 300px;
      grid-auto-columns: 500px;
      gap: 20px;
    }
    @media @laptop {
      grid-template-columns: repeat(4, 1fr) !important;
      gap: 20px;
    }
    @media @tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 5px 5px 20px rgb(197, 195, 195);
      &__image {
        margin-top: 5px;
        width: 100px;
        border-radius: 50px;
        @media @desktop {
          margin-top: 5px;
          width: 100px;
          border-radius: 50px;
        }
        @media @laptop {
          margin-top: 5px;
          width: 100px;
          border-radius: 50px;
        }
        @media @tablet {
          margin-top: 5px;
          width: 100px;
          border-radius: 50px;
        }
      }
    }
  }
}
.card__text {
  font-size: 15px;
  margin: 0px 10px 0px 10px;
  &::after {
    height: 1px;
    display: block;
    width: 100%;
    background: @font-color-2;
    content: "";
  }
}
.card__link {
  text-align: center;
  margin-top: 40px;
  a {
    font-size: 30px;
    margin: 20px 10px 20px 10px;
    color: @font-color-2;
    text-decoration: none;
    &::after {
      height: 1px;
      display: block;
      width: 100%;
      background-image: linear-gradient(to bottom right, #3a3845, #313552);
      content: "";
    }
  }
}
//--footer--
footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  padding: 80px;

  color: @font-color-2;
  background-image: linear-gradient(to bottom right, #eee6ce, #2eb086);
}

//--scroll--
