@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@tablet: ~"(min-width: 768px)";
@laptop: ~"(min-width: 992px)";
@desktop: ~"(min-width: 1200px)";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
}

//--colors--
@font-color-2: #3a3845;

//--buttons--
.btn--animated {
  transition: 0.3s;

  &:hover {
    animation: heartbeat 1s infinite;
    transition: 0.3s;
  }
  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }

    60% {
      transform: scale(0.95);
    }

    100% {
      transform: scale(1);
    }
  }
}

.section__h1 {
  font-size: 25px;
  @media @tablet {
    font-size: 30px;
  }
  @media @laptop {
    font-size: 60px;
  }
  @media @desktop {
    font-size: 70px;
  }
}
.section__h2 {
  font-size: 15px;
  @media @tablet {
    font-size: 15px;
  }
  @media @laptop {
    font-size: 30px;
  }
  @media @desktop {
    font-size: 35px;
  }
}

.section__title {
  font-size: 30px;
  @media @tablet {
    font-size: 30px;
  }
  @media @laptop {
    font-size: 60px;
  }
  @media @desktop {
    font-size: 70px;
  }
}
//--content

//--header--

header {
  display: flex;
  right: 0;
  list-style: none;
  justify-content: flex-end;
  margin-right: 5px;
  position: fixed;
  grid-area: header;

  .btn--animated {
    margin: 10px;
  }
  .header__nav__link {
    text-decoration: none;
    color: #fff;
    transition: all 1s;
    &.--active {
      color: @font-color-2;
    }
    font-size: 20px;
    @media @tablet {
      font-size: 30px;
    }
    @media @laptop {
      font-size: 35px;
    }
    @media @desktop {
      font-size: 40px;
    }
  }
}

#socials {
  display: grid;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #3a3845, #313552);

  @media @tablet {
    display: grid;
    grid-template-columns: 2fr 0fr 0fr 2fr;
  }
  @media @laptop {
    display: grid;
    grid-template-columns: 2fr 0fr 0fr 2fr;
  }
  @media @desktop {
    display: grid;
    grid-template-columns: 2fr 0fr 0fr 2fr;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 2/3;
    grid-column: 1;
    //--header__text__button--
    &__button {
      color: #fff;
      text-decoration: none;
    }
  }

  &__icons {
    display: flex;
    grid-column: 4;
    grid-row: 2/3;
    justify-content: flex-end;
    margin-right: 10px;
  }
}
#content {
  grid-area: main;
}

#aboutme {
  display: flex;
  padding: 80px;
  flex-direction: column;
  background-color: #b8405e;
  background-image: linear-gradient(to bottom right, #b8405e, #eee6ce);
  color: @font-color-2;
  align-items: center;
  height: 100vh;
  .text {
    @media @tablet {
      font-size: 20px;
    }
    @media @laptop {
      font-size: 20px;
    }
    @media @desktop {
      font-size: 20px;
    }
  }
}

//--projects--
#projects {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(to bottom right, #eee6ce, #fff);
  color: @font-color-2;

  @media @tablet {
    padding: 20px;
  }
  @media @laptop {
    padding: 60px;
  }
  @media @desktop {
    padding: 80px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    @media @laptop {
      grid-template-columns: repeat(4, 1fr) !important;
      grid-template-rows: repeat(1, 500px);
      gap: 20px;
    }
    @media @desktop {
      grid-template-columns: repeat(4, 1fr) !important;
      grid-template-rows: repeat(1, 500px);
      gap: 20px;
    }

    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 5px 5px 20px rgb(197, 195, 195);
    }
  }
}

.card__label {
  font-weight: 600;
  @media @tablet {
    font-size: 25px;
  }
  @media @laptop {
    font-size: 30px;
  }
  @media @desktop {
    font-size: 40px;
  }
}
.card__image {
  margin-top: 5px;
  width: 100px;
  border-radius: 50px;
  height: 100%;
  @media @tablet {
    margin-top: 5px;
    width: 100px;
    border-radius: 50px;
  }
  @media @laptop {
    margin-top: 5px;
    width: 100px;
    border-radius: 50px;
  }
  @media @desktop {
    margin-top: 5px;
    width: 100px;
    border-radius: 50px;
  }
}

.card__text {
  font-size: 15px;
  margin: 0px 10px 0px 10px;
  &::after {
    height: 1px;
    display: block;
    width: 100%;
    background: @font-color-2;
    content: "";
  }
}
.card__link {
  text-align: center;
  margin-top: 40px;
  font-size: 15px;
  margin: 20px 10px 20px 10px;
  color: @font-color-2;
  text-decoration: none;
  
}
//--footer--
footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 80px;
  color: @font-color-2;
  background-image: linear-gradient(to bottom right, #eee6ce, #2eb086);
  .footer__label {
    font-size: 25px;
    @media @tablet {
      font-size: 15px;
    }
    @media @laptop {
      font-size: 30px;
    }
    @media @desktop {
      font-size: 35px;
    }
  }
}

//--scroll--
