@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
//--colors--
@font-color-2: #3a3845;

//--buttons--
.btn-animated {
  transition: 0.3s;
  

  &:hover {
    animation: heartbeat 1s infinite;
    transition: 0.3s;
  }
  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }

    60% {
      transform: scale(0.95);
    }

    100% {
      transform: scale(1);
    }
  }
}
//---h1--h2
@h1: 70px;
@h2: 35px;
h1 {
  font-size: @h1;
  margin: 40px 0px 40px 0px;
  font-weight: 600;
}
h2 {
  font-size: @h2;
  font-weight: 400;
}
//--header--
.header {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 0fr 0fr 2fr;
  background-image: linear-gradient(to bottom right, #3a3845, #313552);
  //--header__text--
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 2/3;
    grid-column: 1;
    //--header__text__button--
    &__button {
      color: #fff;
      text-decoration: none;
    }
  }
  //--header__nav--
  &__nav {
    display: flex;
    grid-column: 4;
    list-style: none;
    justify-content: flex-end;
    font-size: @h2;
    margin-right: 5px;
    div {
      margin: 10px;
    }
    a {
      text-decoration: none;
      color: #fff;
    }
  }
  //--header__socials--
  &__socials {
    display: flex;
    grid-column: 4;
    justify-content: flex-end;
    margin-right: 10px;
  }
}
//--aboutme--
.aboutme {
  display: flex;
  padding: 80px;
  flex-direction: column;
  background-color: #b8405e;
  background-image: linear-gradient(to bottom right, #b8405e, #eee6ce);
  color: @font-color-2;
  align-items: center;
  p {
    font-size: @h2;
    font-weight: 400;
  }
}
//--projects--
.projects {
  padding: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(to bottom right, #eee6ce, #fff);
  color: @font-color-2;
  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 500px);
    gap: 20px;
    grid-auto-rows: 300px;
    grid-auto-columns: 500px;
    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 5px 5px 20px rgb(197, 195, 195);
      &__image {
        margin-top: 25px;
        width: 250px;
        border-radius: 125px;
        background-color: @font-color-2;
      }
    }
  }
}
.card__text {
  font-size: 15px;
  margin: 0px 10px 0px 10px;
  &::after {
    height: 1px;
    display: block;
    width: 100%;
    background: @font-color-2;
    content: "";
  }
}
.card__link {
  text-align: center;
  margin-top: 40px;
  a {
    font-size: 30px;
    margin: 20px 10px 20px 10px;
    color: @font-color-2;
    text-decoration: none;
    &::after {
      height: 1px;
      display: block;
      width: 100%;
      background-image: linear-gradient(to bottom right, #3a3845, #313552);
      content: "";
    }
  }
}
//--footer--
.footer {
  width: 100%;
  text-align: center;
  padding: 80px;

  color: @font-color-2;
  background-image: linear-gradient(to bottom right, #eee6ce, #2eb086);
}
